<button>
    <a href="/login">Log in</a>
</button>
<button>
    <a href="/register">register</a>
</button>
<button>
    <a href="/profile">profile</a>
</button>
<button>
    <a href="/stats">stats</a>
</button>
<button>
    <a href="/rank">rank</a>
</button>
<button>
    <a href="/wild">wild</a>
</button>
<button>
    <a href="/multi">multi</a>
</button>