
<!DOCTYPE html>
<html>

<head>
    <%- include ./partials/_header.ejs %>
        <script src="/scripts/async-polling.min.js" async></script>
        <script src="/scripts/check.js" async></script>

        <link rel="stylesheet" type="text/css" href="/styles/css/layout.css">
        <link rel="stylesheet" type="text/css" href="/styles/css/cards.css">
        <link rel="stylesheet" type="text/css" href="/styles/css/multi.css">

</head>

<body>
    <div class="container-profile">
        <div class="wrap-profile">


            <div class="card-wrapper">

                <div class="opponent">
                    <img class="element" src="/images/grass.png" alt="element">
                    <img id="opppoke" src="https://media2.giphy.com/media/tXL4FHPSnVJ0A/giphy.gif" alt="Pokemon">
                    <h3>
                        <div class="hp">HP:100</div>
                        <div class="attack">AP:20</div>
                    </h3>
                </div>


            </div>
            

            <h2 class="center" id="your-turn"></h2>
            <!-- <h2 class="center" id="opponents-turn">Opponents Turn</h2> -->
            <div class="card-wrapper">
                    <div id="gameover">
                            <h1>Game over!</h1>
                            <h2></h2>
                            <a href="/profile"><h4>click to leave game</h4></a>
                        </div>
                <input class="current-left hide-btns" type=submit value="Attack">
                </input>
                <div class="active">
                    <img class="element" src="/images/grass.png" alt="element">
                    <img id="mypoke" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png" alt="Pokemon">
                    <h3>
                        <div class="hp">HP:100</div>
                        <div class="attack">AP:20</div>
                    </h3>
                </div>
                <input class="current-right hide-btns" type=submit value="Runaway">
                </input>
            </div>
        </div>
    </div>
    </div>
</body>

</html>