<!DOCTYPE html>
<html>

<head>
    <%- include ./partials/_header.ejs %>
    <script type="text/javascript" src="/scripts/app.js" async></script>
        <link rel="stylesheet" type="text/css" href="/styles/layout.css">
        <link rel="stylesheet" type="text/css" href="/styles/cards.css">
        <link rel="stylesheet" type="text/css" href="/styles/multi.css">
</head>

<body>
    <div class="container-profile">
        <div class="wrap-profile">


            <div class="card-wrapper">

                <div class="opponent">
                    <img class="element" src="/images/grass.png" alt="element">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png" alt="Pokemon">
                    <h3>
                        <div class="hp">HP:100</div>
                        <div class="attack">AP:20</div>
                    </h3>
                </div>


            </div>

            <h2 class="center" id="your-turn">Your Turn</h2>
            <h2 class="center" id="opponents-turn">Opponents Turn</h2>



            <div class="card-wrapper">
                <div class="current-left hide-btns">
                    <form action="">
                        <button>Attack</button>
                    </form>
                </div>
                <div class="active">
                    <img class="element" src="/images/grass.png" alt="element">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png" alt="Pokemon">
                    <h3>
                        <div class="hp">HP:100</div>
                        <div class="attack">AP:20</div>
                    </h3>
                </div>

                <div class="current-right hide-btns">
                    <form action="">
                        <button>Runaway</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>