<!DOCTYPE html>
<html>

<head>
    <%- include ./partials/_header.ejs %>

        <link rel="stylesheet" type="text/css" href="styles/layout.css">
        <link rel="stylesheet" type="text/css" href="styles/cards.css">
</head>

<body>
    <div class="container-profile">
        <div class="wrap-profile">
            <span class="wrap-profile-form-btn">
                <div class="profile-form-bgbtn"></div>
                <a href="/login" class="profile-form-btn">
                    Play Pokemon
                </a>
            </span>
            <span class="wrap-profile-form-btn">
                <div class="profile-form-bgbtn"></div>
                <a href="/login" class="profile-form-btn">
                    Your Stats
                </a>
            </span>
            <span class="wrap-profile-form-btn">
                <div class="profile-form-bgbtn"></div>
                <a href="/login" class="profile-form-btn">
                    Your Rank
                </a>
            </span>
            <div id="central">
                <span class="wrap-game-button">
                    <div class="game-bgbtn"></div>
                    <a href="/login" class="game-btn">
                        Wild
                    </a>
                </span>
                <span class="wrap-game-button">
                    <div class="game-bgbtn"></div>
                    <form class="game-btn" action="/pending" method="GET">
                    <button type="submit" id="checkgame">
                        GAME
                    </button>
                </form>
                </span>
            </div>
            <div class="card-wrapper">
                <!-- <div class="current-left">
                    <img class="element" src="images/grass.png" alt="element">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/009.png" alt="Pokemon">
                    <h3>
                            <div class="hp">HP:100</div> 
                            <div class="attack">AP:20</div>
                    </h3>
                </div> -->
                <div class="active">
                    <img class="element" src="images/grass.png" alt="element">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/005.png" alt="Pokemon">
                    <h3>
                            <div class="hp">HP:100</div> 
                            <div class="attack">AP:20</div>
                    </h3>
                </div>
                <!-- <div class="current-right">
                    <img class="element" src="images/grass.png" alt="element">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png" alt="Pokemon">
                    <h3>
                        <div class="hp">HP:100</div> 
                        <div class="attack">AP:20</div>
                    </h3>
                </div> -->

            </div>
        </div>
    </div>

</body>

</html>