<!DOCTYPE html>
<html>

<head>
    <%- include ./partials/_header.ejs %>

        <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>

<body>
    <%- include ./partials/_nav.ejs %>
        <div class="container-profile">
            <div class="wrap-profile">
                <span class="wrap-profile-form-btn">
                    <div class="profile-form-bgbtn"></div>
                    <a href="/login" class="profile-form-btn">
                        Play Pokemon
                    </a>
                </span>
                <span class="wrap-profile-form-btn">
                    <div class="profile-form-bgbtn"></div>
                    <a href="/login" class="profile-form-btn">
                        Your Stats
                    </a>
                </span>
                <span class="wrap-profile-form-btn">
                    <div class="profile-form-bgbtn"></div>
                    <a href="/login" class="profile-form-btn">
                        Your Rank
                    </a>
                </span>
                <div id="central">
                    <span class="wrap-game-button">
                        <div class="game-bgbtn"></div>
                        <a href="/login" class="game-btn">
                            Wild
                        </a>
                    </span>
                    <span class="wrap-game-button">
                        <div class="game-bgbtn"></div>
                        <a href="/login" class="game-btn">
                            Multi
                        </a>
                    </span>
                </div>
                <div>
                    
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id.</p>
            </div>
        </div>

</body>

</html>