<!DOCTYPE html>
<html>

<head>
    <%- include ./partials/_header.ejs %>

        <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>

<body>
    <%- include ./partials/_nav.ejs %>
        <div class="container-profile">
            <div class="wrap-profile">
                <span class="wrap-profile-form-btn">
                    <div class="profile-form-bgbtn"></div>
                    <a href="/login" class="profile-form-btn">
                        Logout
                    </a>
                </span>
                <span class="wrap-profile-form-btn">
                    <div class="profile-form-bgbtn"></div>
                    <a href="/login" class="profile-form-btn">
                        Logout
                    </a>
                </span>
                <span class="wrap-profile-form-btn">
                    <div class="profile-form-bgbtn"></div>
                    <a href="/login" class="profile-form-btn">
                        Logout
                    </a>
                </span>


                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, id.</p>


            </div>

           



        </div>

        </div>

</body>

</html>