<!DOCTYPE html>
<html>

<head>
    <%- include ./partials/_header.ejs %>
    <script src="/scripts/async-polling.min.js"></script>
</head>

<body>
        <%- include ./partials/_nav.ejs %>
</body>

</html>