.card-wrapper {
  position: relative;
  height: 50vh;
  font-family: Poppins-Medium;
  margin-right: -2vh;
  margin-left: -2vh;
  text-align: center;
}

.card-wrapper img{
  width:100%
}

.current-right {
  display: inline-block;
  width: 35%;
  margin-right: 14%;
  border: solid 4px grey;
  border-radius: 5px;
  background-color: white;
}
.current-left {
  display: inline-block;
  width: 35%;
  margin-right: 14%;
  border: solid 4px grey;
  border-radius: 5px;
  background-color: white;
}

.active {
  position: absolute;
  right: 28%;
  display: inline-block;
  width: 45%;
  z-index: 5;
  border: solid 5px rgb(21, 185, 21);
  border-radius: 5px;
  background-color: white;
}

@media (max-width: 450px) {
  .active {
  width: 60%;
  right:20%;
  }
  }
@media (max-width: 450px) {
.active {
height: 280px;
}
}
@media (max-width: 370px) {
  .active {
  height:270px;
  }
  }


.btn1 {
  /* background-color: aqua; */
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 4px;
}

.btn2 {
  /* background-color: aqua; */
  width: 50%;
}

.active .element,
.current-left .element,
.current-right .element {
  width: 20px;
}

.active .element{
  text-align: right;
}
.active .hp{
  margin-right: 25%;
  margin-bottom:5%
}

h3 > div.hp, h3 > div.attack {
  display: inline-block;
}