.card-wrapper {
    margin-left: 10%;
    margin-right:10%;
    background-color: #d0e0cf;
    margin: auto;
    text-align: center;
    padding: 3%
}

.current {
  display: inline-block;
  width: 28%;
  background-color: rgb(226, 71, 71);
}

.active {
  display: inline-block;
  width: 35%;
  background-color: rgb(71, 226, 71);
}

.rim img {
  display: inline-block;
  width: 100%;
  background-color: rgb(195, 71, 226);
}
.btn1 {
  background-color: aqua;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 4px;
}

.btn2 {
  background-color: aqua;
  width: 50%;
}

.active .element,
.current .element {
  width: 20px;
  height: auto;
}

.current img {
  width: 100%;
  height: auto;
}
