



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: fantasy;
    src: url('../fonts/fantasy.ttf');
  }

  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/Poppins-Medium.ttf');
  }

  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/Poppins-Bold.ttf');
  }

  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/Poppins-SemiBold.ttf');
  }


  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

  * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
  }

  body, html {
      height: 100%;
      font-family: fantasy, sans-serif;
  }

  /*---------------------------------------------*/
  a {
      font-family: fantasy;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }

  a:focus {
      outline: none !important;
  }

  a:hover {
      text-decoration: none;
    color: #ffffff;

  }

  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }

  p {
      font-family: fantasy;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }

  ul, li {
      margin: 0px;
      list-style-type: none;
  }


  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }

  textarea {
    outline: none;
    border: none;
  }

  textarea:focus, input:focus {
    border-color: transparent !important;
  }

  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }

  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }

  input::-webkit-input-placeholder { color: #adadad;}
  input:-moz-placeholder { color: #adadad;}
  input::-moz-placeholder { color: #adadad;}
  input:-ms-input-placeholder { color: #adadad;}

  textarea::-webkit-input-placeholder { color: #adadad;}
  textarea:-moz-placeholder { color: #adadad;}
  textarea::-moz-placeholder { color: #adadad;}
  textarea:-ms-input-placeholder { color: #adadad;}

  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }

  button:hover {
      cursor: pointer;
  }

  iframe {
      border: none !important;
  }


  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: fantasy;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
  }

  .txt2 {
    font-family: fantasy;
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
  }

  /*//////////////////////////////////////////////////////////////////
  [ login ]*/

  .limiter {
    width: 100%;
    margin: 0 auto;
  }

  .container-profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
  }



  /*------------------------------------------------------------------
  [ Form ]*/

  .profile-form {
    /* width: 100%; */
  }

  .profile-form-title {
    display: block;
    font-family: fantasy;
    font-size: 30px;
    color: #1671c7;
    line-height: 1.2;
    text-align: center;
    /* margin-top: px; */
    margin: -3%;
  }
  .profile-form-title i {
    font-size: 60px;
  }

  /*------------------------------------------------------------------
  [ Input ]*/

  .wrap-input100 {
    /* width: 100%; */
    position: relative;
    border-bottom: 3px solid #d3d3d3;
    margin-bottom: 37px;
  }

  .input100 {
    font-family: fantasy;
    font-size: 15px;
    color: rgb(109, 109, 109);
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 15px;
    background: transparent;
    padding: 0 5px;
  }

  /*---------------------------------------------*/
  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;

    -webkit-transition: all 1s;

    transition: all 1s;
    background: -webkit-linear-gradient(left, #fc5640a4, #d6ff21, #42ff21,#22be0eb4);
    background: -o-linear-gradient(left, #ff2121, #e7fd21);
    background: -moz-linear-gradient(left, #21cbff, #e7fd21);
    background: linear-gradient(left, #ff2121, #bf21fd);
  }

  .focus-input100::after {
    font-family: fantasy;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;

    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;

    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  .input100:focus + .focus-input100::after {
    top: -15px;
  }

  .input100:focus + .focus-input100::before {
    width: 100%;

  }

  .has-val.input100 + .focus-input100::after {
    top: -15px;
  }

  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }

  /*---------------------------------------------*/

  .wrap-profile {
    width: 100%;
    height: 95vh;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 2vh;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  }


 @media (min-width: 650px) {
    .wrap-profile {
      max-width: 650px;
    }
  }

  /*------------------------------------------------------------------
  /* GAME BUTTONS */

  .wrap-game-button {
    width: 40%;
    margin-left: 1%;
    margin-right: 1%;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
  }

  .game-bgbtn {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #fffce4b4;
    /* image: url("https://pro-rankedboost.netdna-ssl.com/wp-content/uploads/2016/07/PokeBall.png"); */
    top: 0;
    justify-content: center;
  }


  .game-btn {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px rgb(21, 185, 21) solid;
    border-radius: 10px;
    width: 100%;
    height: 30vh;
    text-decoration: none;
  }

  #central{
    margin-left: 10%;
    margin-right:10%;
    /* background-color: #1aaf15; */
    margin: auto;
    text-align: center;
    padding: 3%
}
  .container-profile-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
  }

  .wrap-profile-form-btn {
    width: 32.4%;
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    margin: 0%;
  }

  .profile-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 400%;
    height: 100%;  
    transition: all 1s;
    background: -webkit-linear-gradient(left, #fff021, #42ff21,#2130ff,#22be0eb4);
    background: -o-linear-gradient(left,  #fff021, #42ff21,#2130ff,#22be0eb4);
    background: -moz-linear-gradient(left,  #fff021, #42ff21,#2130ff,#22be0eb4);
    background: linear-gradient(left,  #fff021, #42ff21,#2130ff,#22be0eb4);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }

  .profile-form-btn {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;
    text-decoration: none;
  }
   @media (max-width: 620px) {
    .profile-form-btn {
        font-size: 16px;
    }
  }
  .wrap-profile-form-btn:hover .profile-form-bgbtn {
    left: 0;
  }
  .wrap-game-button:hover .game-bgbtn {
    left: 0;
  }


    #statsTable{
        height: 250px;
        border: 2px solid lightgray;
        border-radius: 10px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;

    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

  .numWins{
    padding: 5px;
    text-align:center;
    font-family: verdana;
  }


